<a href="https://colab.research.google.com/github/sunny-udhani/SmartLending/blob/shripal/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
from sklearn import preprocessing
# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
# file_id = 'REPLACE_WITH_YOUR_FILE_ID'
# downloaded = drive.CreateFile({'id': file_id})
# print('Downloaded content "{}"'.format(downloaded.GetContentString()))

In [0]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [3]:
df = pd.read_csv('/content/gdrive/My Drive/example.csv')
df.head()

,Unnamed: 0,loan_amnt,amount_diff_inv,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,dti,delinq_2yrs_cat,inq_last_6mths_cat,open_acc,pub_rec,pub_rec_cat,acc_ratio,initial_list_status,loan_status,int_rate
0,0,8400,same,36,270.06,B,2.0,MORTGAGE,66000.0,Not Verified,...,13.84,no,yes,7,0,no,0.318182,w,Fully Paid,9.75%
1,4,20000,same,36,664.20,C,10.0,MORTGAGE,49000.0,Source Verified,...,15.58,yes,no,8,0,no,0.285714,w,Fully Paid,11.99%
2,5,13625,same,60,326.36,C,1.0,MORTGAGE,50000.0,Not Verified,...,30.41,no,no,21,0,no,0.291667,w,Fully Paid,15.31%
3,7,15000,same,60,393.50,D,1.0,RENT,63890.0,Not Verified,...,20.36,no,yes,7,0,no,0.875000,w,Charged Off,19.53%
4,9,12000,same,60,277.18,C,10.0,MORTGAGE,68000.0,Source Verified,...,17.17,no,yes,12,0,no,0.363636,w,Late (16-30 days),13.67%

In [0]:
# with open('/gdrive/foo.txt', 'w') as f:
#   f.write('Hello Google Drive!')
# !cat /gdrive/foo.txt

In [0]:
# le = preprocessing.LabelEncoder()
# df['amount_diff_inv'] = le.fit_transform(df['amount_diff_inv'])
# df['grade'] = le.fit_transform(df['grade'])
# df['home_ownership'] = le.fit_transform(df['home_ownership'])
# df['verification_status'] = le.fit_transform(df['verification_status'])
# df['purpose'] = le.fit_transform(df['purpose'])
# df['loan_status'] = le.fit_transform(df['loan_status'])
# df['initial_list_status'] = le.fit_transform(df['initial_list_status'])
# df['delinq_2yrs_cat'] = le.fit_transform(df['delinq_2yrs_cat'])
# df['inq_last_6mths_cat'] = le.fit_transform(df['inq_last_6mths_cat'])
# df['pub_rec_cat'] = le.fit_transform(df['pub_rec_cat'])

In [0]:
df['int_rate'] = df['int_rate'].str.split('%').str.get(0)
# df['int_rate']= pddf['int_rate'])

In [0]:
def get_features():
    features = ['loan_amnt', 'amount_diff_inv', 'term',
            'installment', 'grade','emp_length',
            'home_ownership', 'annual_inc','verification_status',
            'purpose', 'dti', 'delinq_2yrs_cat', 'inq_last_6mths_cat',
            'open_acc', 'pub_rec', 'pub_rec_cat', 'acc_ratio', 'initial_list_status',
            'loan_status','int_rate'
           ]
    return features

In [0]:
X_clean = df.loc[df.loan_status != 'Current', get_features()]
mask = (X_clean.loan_status == 'Charged Off')
X_clean['target'] = 0
X_clean.loc[mask,'target'] = 1

X_clean.dropna(axis=0, how = 'any', inplace = True)

In [8]:
# df.drop(df.columns[0], axis=1)
df = X_clean
X_clean.head()

,loan_amnt,amount_diff_inv,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,delinq_2yrs_cat,inq_last_6mths_cat,open_acc,pub_rec,pub_rec_cat,acc_ratio,initial_list_status,loan_status,int_rate,target
0,8400,same,36,270.06,B,2.0,MORTGAGE,66000.0,Not Verified,debt_consolidation,...,no,yes,7,0,no,0.318182,w,Fully Paid,9.75,0
1,20000,same,36,664.20,C,10.0,MORTGAGE,49000.0,Source Verified,debt_consolidation,...,yes,no,8,0,no,0.285714,w,Fully Paid,11.99,0
2,13625,same,60,326.36,C,1.0,MORTGAGE,50000.0,Not Verified,credit_card,...,no,no,21,0,no,0.291667,w,Fully Paid,15.31,0
3,15000,same,60,393.50,D,1.0,RENT,63890.0,Not Verified,debt_consolidation,...,no,yes,7,0,no,0.875000,w,Charged Off,19.53,1
4,12000,same,60,277.18,C,10.0,MORTGAGE,68000.0,Source Verified,credit_card,...,no,yes,12,0,no,0.363636,w,Late (16-30 days),13.67,0

In [0]:
le = preprocessing.LabelEncoder()
df['amount_diff_inv'] = le.fit_transform(df['amount_diff_inv'])
df['grade'] = le.fit_transform(df['grade'])
df['home_ownership'] = le.fit_transform(df['home_ownership'])
df['verification_status'] = le.fit_transform(df['verification_status'])
df['purpose'] = le.fit_transform(df['purpose'])
df['loan_status'] = le.fit_transform(df['loan_status'])
df['initial_list_status'] = le.fit_transform(df['initial_list_status'])
df['delinq_2yrs_cat'] = le.fit_transform(df['delinq_2yrs_cat'])
df['inq_last_6mths_cat'] = le.fit_transform(df['inq_last_6mths_cat'])
df['pub_rec_cat'] = le.fit_transform(df['pub_rec_cat'])

In [0]:
df['int_rate'] = pd.to_numeric(df['int_rate'])
# np.any(np.isnan(mat))
# np.all(np.isfinite(mat))

In [11]:
df.drop(df.columns[0], axis=1)

,amount_diff_inv,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,delinq_2yrs_cat,inq_last_6mths_cat,open_acc,pub_rec,pub_rec_cat,acc_ratio,initial_list_status,loan_status,int_rate,target
0,1,36,270.06,1,2.0,1,66000.0,0,2,13.84,0,1,7,0,0,0.318182,1,2,9.75,0
1,1,36,664.20,2,10.0,1,49000.0,1,2,15.58,1,0,8,0,0,0.285714,1,2,11.99,0
2,1,60,326.36,2,1.0,1,50000.0,0,1,30.41,0,0,21,0,0,0.291667,1,2,15.31,0
3,1,60,393.50,3,1.0,4,63890.0,0,2,20.36,0,1,7,0,0,0.875000,1,0,19.53,1
4,1,60,277.18,2,10.0,1,68000.0,1,1,17.17,0,1,12,0,0,0.363636,1,4,13.67,0
5,1,36,160.75,1,1.0,3,40000.0,1,2,10.38,0,1,25,1,1,0.555556,1,2,9.75,0
6,1,36,176.51,3,10.0,1,105000.0,0,2,9.07,0,0,13,0,0,0.866667,1,0,16.29,1
7,1,36,132.84,2,10.0,4,36000.0,2,2,16.40,0,0,5,0,0,0.714286,1,0,11.99,1
8,1,36,771.60,1,5.0,1,50000.0,2,2,24.46,0,0,8,0,0,0.571429,1,0,9.75,1
9,1,36,567.30,1,10.0,3,38200.0,0,1,24.07,1,0,19,0,0,0.463415,1,2,8.39,0
10,1,60,277.18,2,10.0,1,40000.0,0,2,28.50,0,0,11,1,1,0.523810,1,0,13.67,1
11,1,36,290.23,3,9.0,4,50000.0,1,2,22.00,0,0,15,0,0,0.600000,1,0,18.25,1
12,1,36,336.90,2,10.0,4,75000.0,0,2,15.09,0,0,10,0,0,0.384615,1,5,12.99,0
13,1,36,329.62,1,1.0,4,70000.0,2,6,9.14,0,0,6,1,1,0.272727,1,0,11.47,1
14,1,36,199.26,2,10.0,1,50000.0,0,8,19.71,0,1,12,1,1,0.666667,0,2,11.99,0
15,1,36,988.86,1,10.0,4,130000.0,1,1,16.56,0,0,16,0,0,0.695652,1,4,11.47,0
16,1,36,315.17,1,7.0,1,45000.0,2,1,20.91,0,0,5,0,0,0.250000,1,2,8.39,0
17,1,36,382.50,1,2.0,1,35000.0,2,2,48.25,1,0,10,3,1,0.555556,1,2,9.16,0
18,1,60,549.44,1,1.0,1,93000.0,1,2,15.78,0,1,9,0,0,0.409091,1,2,11.47,0
19,1,36,120.41,2,7.0,1,62000.0,1,7,35.81,0,1,12,0,0,0.187500,1,2,14.46,0
20,1,60,678.87,4,1.0,4,110000.0,1,2,18.80,0,1,14,0,0,0.636364,1,0,21.18,1
21,0,36,651.72,3,2.0,4,70000.0,2,2,13.63,0,0,6,0,0,0.666667,0,0,19.53,1
22,1,36,469.74,1,10.0,1,85000.0,0,10,28.11,0,0,16,0,0,0.484848,1,2,10.75,0
23,1,36,168.45,2,4.0,3,150000.0,1,8,10.13,0,1,15,2,1,0.483871,0,2,12.99,0
24,1,36,451.73,0,4.0,1,90000.0,0,3,7.75,1,0,12,0,0,0.521739,1,2,5.32,0
25,1,60,667.19,2,10.0,1,81000.0,1,2,14.07,0,0,8,0,0,0.347826,1,2,11.99,0
26,1,60,672.83,4,5.0,4,70000.0,2,2,23.01,0,0,18,1,1,0.486486,1,0,20.75,1
27,1,60,400.31,2,6.0,1,100000.0,2,2,20.41,1,1,21,0,0,0.525000,1,2,11.99,0
28,1,60,769.22,1,4.0,1,137000.0,2,1,30.17,1,0,12,0,0,0.444444,1,2,11.47,0
29,1,36,166.05,2,9.0,4,80000.0,0,2,22.55,0,1,17,0,0,0.566667,1,0,11.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392686,1,36,186.10,0,2.0,4,100000.0,0,1,16.38,0,0,12,0,0,0.800000,1,2,6.19,0
392687,1,36,184.35,3,3.0,1,110000.0,0,3,11.65,1,1,9,0,0,0.290323,0,2,19.42,0
392688,1,60,485.77,2,6.0,1,90000.0,0,2,20.68,0,1,13,0,0,0.590909,0,2,15.49,0
392689,1,36,319.78,1,1.0,4,55000.0,0,1,8.55,0,0,6,0,0,0.666667,1,5,10.07,0
392690,1,36,246.40,0,5.0,1,200000.0,1,3,17.65,0,0,15,0,0,0.468750,1,2,6.83,0
392691,1,36,496.01,1,10.0,4,65000.0,1,2,8.38,0,1,13,0,0,0.590909,1,3,9.43,0
392692,1,60,353.09,2,1.0,3,55000.0,1,7,13.22,0,0,14,1,1,0.250000,1,2,14.52,0
392693,1,60,353.09,2,1.0,4,134100.0,0,3,5.48,1,1,11,0,0,0.687500,1,2,14.52,0
392694,1,36,124.36,0,10.0,4,47835.0,1,8,15.00,0,0,9,0,0,0.642857,1,2,7.46,0
392695,1,36,1282.82,1,7.0,4,124546.0,2,1,11.25,0,0,7,0,0,0.466667,1,2,9.58,0
392696,1,36,233.16,0,10.0,4,63710.0,0,1,18.01,0,0,8,0,0,0.666667,0,2,7.46,0
392697,1,36,131.05,1,5.0,4,55000.0,0,2,7.07,0,1,7,0,0,0.437500,1,2,11.05,0
392698,0,36,462.00,0,10.0,4,70000.0,0,8,13.27,0,1,12,1,1,0.428571,0,2,6.83,0
392699,1,36,528.50,0,10.0,1,136000.0,0,8,20.74,0,0,17,0,0,0.435897,1,2,7.46,0
392700,1,36,332.77,1,8.0,1,35000.0,0,3,4.87,0,1,5,0,0,0.357143,1,2,12.13,0
392701,1,36,258.24,2,10.0,1,157600.0,1,7,7.28,1,0,9,0,0,0.360000,1,2,14.52,0
392702,1,36,566.16,2,10.0,4,68000.0,2,8,18.28,0,1,28,1,1,0.823529,1,2,16.46,0
392703,1,36,188.24,0,1.0,4,60000.0,0,2,11.60,0,1,6,0,0,0.750000,1,2,8.08,0
392704,1,36,355.31,1,6.0,1,170000.0,1,4,35.63,0,0,16,0,0,0.320000,1,2,10.07,0
392705,1,60,238.11,2,10.0,1,50000.0,2,2,14.83,0,0,4,1,1,0.285714,1,5,15.04,0
392706,1,36,1171.11,1,9.0,4,69000.0,1,8,7.97,1,1,4,0,0,0.307692,1,2,10.56,0
392707,1,36,261.54,1,10.0,1,70000.0,1,3,8.02,0,1,6,0,0,0.333333,1,5,10.90,0
392708,1,36,291.03,3,2.0,3,15000.0,0,2,25.84,1,0,12,0,0,0.857143,0,2,18.45,0
392709,1,36,250.99,0,3.0,3,80000.0,0,8,25.11,0,1,11,0,0,0.523810,1,2,8.08,0
392710,1,36,305.09,0,10.0,1,80000.0,0,3,9.05,0,0,11,0,0,0.379310,1,2,6.19,0
392711,1,36,298.26,1,3.0,3,43000.0,1,1,27.49,0,0,7,0,0,0.304348,1,2,9.58,0
392712,1,36,407.69,2,1.0,4,48000.0,1,2,3.50,0,0,10,0,0,0.588235,1,4,13.58,0
392713,1,36,286.05,0,10.0,1,80000.0,0,1,2.64,0,1,7,0,0,0.411765,1,2,5.31,0
392714,1,36,72.76,3,4.0,4,46000.0,1,8,14.74,1,0,10,0,0,0.625000,1,2,18.45,0
392715,1,36,585.56,1,10.0,1,113000.0,1,1,20.51,0,0,18,0,0,0.473684,1,2,10.56,0

In [0]:
y = df['target']

In [13]:
y

0         0
1         0
2         0
3         1
4         0
5         0
6         1
7         1
8         1
9         0
10        1
11        1
12        0
13        1
14        0
15        0
16        0
17        0
18        0
19        0
20        1
21        1
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        1
         ..
392686    0
392687    0
392688    0
392689    0
392690    0
392691    0
392692    0
392693    0
392694    0
392695    0
392696    0
392697    0
392698    0
392699    0
392700    0
392701    0
392702    0
392703    0
392704    0
392705    0
392706    0
392707    0
392708    0
392709    0
392710    0
392711    0
392712    0
392713    0
392714    0
392715    0
Name: target, Length: 392508, dtype: int64

In [0]:
df.drop(['loan_status', 'target'], axis=1, inplace=True)

In [15]:
df.isnull().any()

loan_amnt              False
amount_diff_inv        False
term                   False
installment            False
grade                  False
emp_length             False
home_ownership         False
annual_inc             False
verification_status    False
purpose                False
dti                    False
delinq_2yrs_cat        False
inq_last_6mths_cat     False
open_acc               False
pub_rec                False
pub_rec_cat            False
acc_ratio              False
initial_list_status    False
int_rate               False
dtype: bool

In [0]:
# X_clean = df

In [17]:
df.head()

,loan_amnt,amount_diff_inv,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,delinq_2yrs_cat,inq_last_6mths_cat,open_acc,pub_rec,pub_rec_cat,acc_ratio,initial_list_status,int_rate
0,8400,1,36,270.06,1,2.0,1,66000.0,0,2,13.84,0,1,7,0,0,0.318182,1,9.75
1,20000,1,36,664.20,2,10.0,1,49000.0,1,2,15.58,1,0,8,0,0,0.285714,1,11.99
2,13625,1,60,326.36,2,1.0,1,50000.0,0,1,30.41,0,0,21,0,0,0.291667,1,15.31
3,15000,1,60,393.50,3,1.0,4,63890.0,0,2,20.36,0,1,7,0,0,0.875000,1,19.53
4,12000,1,60,277.18,2,10.0,1,68000.0,1,1,17.17,0,1,12,0,0,0.363636,1,13.67

In [18]:
scaler = preprocessing.StandardScaler()
X_scaled = scaler.fit_transform(df)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.1, random_state=3, shuffle=True)

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

clf = RandomForestClassifier(n_estimators=41,
                             random_state=2)

from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X_train, y_train)

clf.fit(X_res, y_res)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=41, n_jobs=None,
            oob_score=False, random_state=2, verbose=0, warm_start=False)

In [0]:
# print(clf.feature_importances_)

In [0]:
y_pred = clf.predict(X_test)
# print(clf.predict(X_test))

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.93      0.81      0.87     35645
           1       0.17      0.38      0.23      3606

   micro avg       0.77      0.77      0.77     39251
   macro avg       0.55      0.60      0.55     39251
weighted avg       0.86      0.77      0.81     39251