In [1]:
import numpy as np
import pandas as pd
import scipy.sparse as sp
from numpy.linalg import norm
from collections import Counter, defaultdict
from scipy.sparse import csr_matrix
from scipy import sparse
from sklearn.metrics.pairwise import cosine_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import silhouette_score
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib as matplotlib
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import PCA
from sklearn.neighbors import DistanceMetric
from sklearn import preprocessing

In [2]:
# read in the dataset
df = pd.read_csv(
    filepath_or_buffer='../cleaning/example.csv', 
    index_col=0)

int_rate = df.iloc[:,19:20]

df=df.drop(['int_rate'], axis=1)

In [3]:
int_rate = int_rate['int_rate'].str.split('%').str.get(0)
int_rate

0           9.75
4          11.99
5          15.31
7          19.53
9          13.67
11          9.75
12         16.29
13         11.99
14          9.75
18          8.39
19         13.67
21         18.25
23         12.99
25         11.47
26         11.99
27         11.47
30          8.39
32          9.16
33         11.47
35         14.46
36         21.18
37         19.53
39         10.75
40         12.99
42          5.32
45         11.99
46         20.75
48         11.99
52         11.47
53         11.99
           ...
1048163     6.19
1048164    19.42
1048183    15.49
1048186    10.07
1048207     6.83
1048225     9.43
1048227    14.52
1048242    14.52
1048274     7.46
1048276     9.58
1048286     7.46
1048296    11.05
1048301     6.83
1048334     7.46
1048353    12.13
1048382    14.52
1048395    16.46
1048403     8.08
1048417    10.07
1048436    15.04
1048501    10.56
1048510    10.90
1048518    18.45
1048527     8.08
1048547     6.19
1048548     9.58
1048549    13.58
1048560     5.31
1048568    18.45
1048573    10.56
Name: int_rate, Length: 392508, dtype: object

In [4]:
le = preprocessing.LabelEncoder()
df['amount_diff_inv'] = le.fit_transform(df['amount_diff_inv'])
df['grade'] = le.fit_transform(df['grade'])
df['home_ownership'] = le.fit_transform(df['home_ownership'])
df['verification_status'] = le.fit_transform(df['verification_status'])
df['purpose'] = le.fit_transform(df['purpose'])
df['loan_status'] = le.fit_transform(df['loan_status'])
df['initial_list_status'] = le.fit_transform(df['initial_list_status'])
df['delinq_2yrs_cat'] = le.fit_transform(df['delinq_2yrs_cat'])
df['inq_last_6mths_cat'] = le.fit_transform(df['inq_last_6mths_cat'])
df['pub_rec_cat'] = le.fit_transform(df['pub_rec_cat'])
df

,loan_amnt,amount_diff_inv,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,delinq_2yrs_cat,inq_last_6mths_cat,open_acc,pub_rec,pub_rec_cat,acc_ratio,initial_list_status,loan_status,target
0,8400,1,36,270.06,1,2.0,1,66000.0,0,2,13.84,0,1,7,0,0,0.318182,1,2,0
4,20000,1,36,664.20,2,10.0,1,49000.0,1,2,15.58,1,0,8,0,0,0.285714,1,2,0
5,13625,1,60,326.36,2,1.0,1,50000.0,0,1,30.41,0,0,21,0,0,0.291667,1,2,0
7,15000,1,60,393.50,3,1.0,4,63890.0,0,2,20.36,0,1,7,0,0,0.875000,1,0,1
9,12000,1,60,277.18,2,10.0,1,68000.0,1,1,17.17,0,1,12,0,0,0.363636,1,4,0
11,5000,1,36,160.75,1,1.0,3,40000.0,1,2,10.38,0,1,25,1,1,0.555556,1,2,0
12,5000,1,36,176.51,3,10.0,1,105000.0,0,2,9.07,0,0,13,0,0,0.866667,1,0,1
13,4000,1,36,132.84,2,10.0,4,36000.0,2,2,16.40,0,0,5,0,0,0.714286,1,0,1
14,24000,1,36,771.60,1,5.0,1,50000.0,2,2,24.46,0,0,8,0,0,0.571429,1,0,1
18,18000,1,36,567.30,1,10.0,3,38200.0,0,1,24.07,1,0,19,0,0,0.463415,1,2,0
19,12000,1,60,277.18,2,10.0,1,40000.0,0,2,28.50,0,0,11,1,1,0.523810,1,0,1
21,8000,1,36,290.23,3,9.0,4,50000.0,1,2,22.00,0,0,15,0,0,0.600000,1,0,1
23,10000,1,36,336.90,2,10.0,4,75000.0,0,2,15.09,0,0,10,0,0,0.384615,1,5,0
25,10000,1,36,329.62,1,1.0,4,70000.0,2,6,9.14,0,0,6,1,1,0.272727,1,0,1
26,6000,1,36,199.26,2,10.0,1,50000.0,0,8,19.71,0,1,12,1,1,0.666667,0,2,0
27,30000,1,36,988.86,1,10.0,4,130000.0,1,1,16.56,0,0,16,0,0,0.695652,1,4,0
30,10000,1,36,315.17,1,7.0,1,45000.0,2,1,20.91,0,0,5,0,0,0.250000,1,2,0
32,12000,1,36,382.50,1,2.0,1,35000.0,2,2,48.25,1,0,10,3,1,0.555556,1,2,0
33,25000,1,60,549.44,1,1.0,1,93000.0,1,2,15.78,0,1,9,0,0,0.409091,1,2,0
35,3500,1,36,120.41,2,7.0,1,62000.0,1,7,35.81,0,1,12,0,0,0.187500,1,2,0
36,25000,1,60,678.87,4,1.0,4,110000.0,1,2,18.80,0,1,14,0,0,0.636364,1,0,1
37,17650,0,36,651.72,3,2.0,4,70000.0,2,2,13.63,0,0,6,0,0,0.666667,0,0,1
39,14400,1,36,469.74,1,10.0,1,85000.0,0,10,28.11,0,0,16,0,0,0.484848,1,2,0
40,5000,1,36,168.45,2,4.0,3,150000.0,1,8,10.13,0,1,15,2,1,0.483871,0,2,0
42,15000,1,36,451.73,0,4.0,1,90000.0,0,3,7.75,1,0,12,0,0,0.521739,1,2,0
45,30000,1,60,667.19,2,10.0,1,81000.0,1,2,14.07,0,0,8,0,0,0.347826,1,2,0
46,25000,1,60,672.83,4,5.0,4,70000.0,2,2,23.01,0,0,18,1,1,0.486486,1,0,1
48,18000,1,60,400.31,2,6.0,1,100000.0,2,2,20.41,1,1,21,0,0,0.525000,1,2,0
52,35000,1,60,769.22,1,4.0,1,137000.0,2,1,30.17,1,0,12,0,0,0.444444,1,2,0
53,5000,1,36,166.05,2,9.0,4,80000.0,0,2,22.55,0,1,17,0,0,0.566667,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048163,6100,1,36,186.10,0,2.0,4,100000.0,0,1,16.38,0,0,12,0,0,0.800000,1,2,0
1048164,5000,1,36,184.35,3,3.0,1,110000.0,0,3,11.65,1,1,9,0,0,0.290323,0,2,0
1048183,20200,1,60,485.77,2,6.0,1,90000.0,0,2,20.68,0,1,13,0,0,0.590909,0,2,0
1048186,9900,1,36,319.78,1,1.0,4,55000.0,0,1,8.55,0,0,6,0,0,0.666667,1,5,0
1048207,8000,1,36,246.40,0,5.0,1,200000.0,1,3,17.65,0,0,15,0,0,0.468750,1,2,0
1048225,15500,1,36,496.01,1,10.0,4,65000.0,1,2,8.38,0,1,13,0,0,0.590909,1,3,0
1048227,15000,1,60,353.09,2,1.0,3,55000.0,1,7,13.22,0,0,14,1,1,0.250000,1,2,0
1048242,15000,1,60,353.09,2,1.0,4,134100.0,0,3,5.48,1,1,11,0,0,0.687500,1,2,0
1048274,4000,1,36,124.36,0,10.0,4,47835.0,1,8,15.00,0,0,9,0,0,0.642857,1,2,0
1048276,40000,1,36,1282.82,1,7.0,4,124546.0,2,1,11.25,0,0,7,0,0,0.466667,1,2,0
1048286,7500,1,36,233.16,0,10.0,4,63710.0,0,1,18.01,0,0,8,0,0,0.666667,0,2,0
1048296,4000,1,36,131.05,1,5.0,4,55000.0,0,2,7.07,0,1,7,0,0,0.437500,1,2,0
1048301,15000,0,36,462.00,0,10.0,4,70000.0,0,8,13.27,0,1,12,1,1,0.428571,0,2,0
1048334,17000,1,36,528.50,0,10.0,1,136000.0,0,8,20.74,0,0,17,0,0,0.435897,1,2,0
1048353,10000,1,36,332.77,1,8.0,1,35000.0,0,3,4.87,0,1,5,0,0,0.357143,1,2,0
1048382,7500,1,36,258.24,2,10.0,1,157600.0,1,7,7.28,1,0,9,0,0,0.360000,1,2,0
1048395,16000,1,36,566.16,2,10.0,4,68000.0,2,8,18.28,0,1,28,1,1,0.823529,1,2,0
1048403,6000,1,36,188.24,0,1.0,4,60000.0,0,2,11.60,0,1,6,0,0,0.750000,1,2,0
1048417,11000,1,36,355.31,1,6.0,1,170000.0,1,4,35.63,0,0,16,0,0,0.320000,1,2,0
1048436,10000,1,60,238.11,2,10.0,1,50000.0,2,2,14.83,0,0,4,1,1,0.285714,1,5,0
1048501,36000,1,36,1171.11,1,9.0,4,69000.0,1,8,7.97,1,1,4,0,0,0.307692,1,2,0
1048510,8000,1,36,261.54,1,10.0,1,70000.0,1,3,8.02,0,1,6,0,0,0.333333,1,5,0
1048518,8000,1,36,291.03,3,2.0,3,15000.0,0,2,25.84,1,0,12,0,0,0.857143,0,2,0
1048527,8000,1,36,250.99,0,3.0,3,80000.0,0,8,25.11,0,1,11,0,0,0.523810,1,2,0
1048547,10000,1,36,305.09,0,10.0,1,80000.0,0,3,9.05,0,0,11,0,0,0.379310,1,2,0
1048548,9300,1,36,298.26,1,3.0,3,43000.0,1,1,27.49,0,0,7,0,0,0.304348,1,2,0
1048549,12000,1,36,407.69,2,1.0,4,48000.0,1,2,3.50,0,0,10,0,0,0.588235,1,4,0
1048560,9500,1,36,286.05,0,10.0,1,80000.0,0,1,2.64,0,1,7,0,0,0.411765,1,2,0
1048568,2000,1,36,72.76,3,4.0,4,46000.0,1,8,14.74,1,0,10,0,0,0.625000,1,2,0
1048573,18000,1,36,585.56,1,10.0,1,113000.0,1,1,20.51,0,0,18,0,0,0.473684,1,2,0

In [5]:
scaler = preprocessing.StandardScaler()
X_scaled = scaler.fit_transform(df)

In [6]:
X_scaled.shape

(392508, 20)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, int_rate, test_size=0.33, random_state=21)

In [8]:
from __future__ import absolute_import, division, print_function

import tensorflow as tf
from tensorflow import keras

import numpy as np

print(tf.__version__)

1.12.0

In [9]:
def build_model():
  model = keras.Sequential([
    keras.layers.Dense(64, activation=tf.nn.relu,
                       input_shape=(X_train.shape[1],)),
    keras.layers.Dense(64, activation=tf.nn.relu),
    keras.layers.Dense(1)
  ])

  optimizer = tf.train.RMSPropOptimizer(0.001)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae'])
  return model

model = build_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                1344
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 5,569
Trainable params: 5,569
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Display training progress by printing a single dot for each completed epoch
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 100 == 0: print('')
    print('.', end='')

EPOCHS = 500

# Store training stats
history = model.fit(X_train, y_train, epochs=EPOCHS,
                    validation_split=0.2, verbose=0,
                    callbacks=[PrintDot()])